<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">

<link rel="import" href="../sigespai-investigador-proyecto-detalle/sigespai-investigador-proyecto-detalle.html">

<dom-module id="sigespai-ficha-investigador-proyectos">
    <template>
        <style>
            :host {
                display: block;
            }

            h3 {
                padding-left: 3rem;
            }

            .proyectoHead {
                /*width: 100%;*/
                height: 7rem;
                margin: 0px;
                padding: 2.5rem;
                border: 1px solid #f0f0f0;
            }

            .proyectoTitleRight {
                float: right;
                width: 40px;
                font-size: 2rem;
                font-weight: bold;
                text-align: center;
            }

            .proyectoTitleLeft {
                float: left;
                color: #111111;
                text-transform: uppercase;
            }

            .proyectoContent {
                padding: 2rem 1rem;
                border: 1px solid #dadada;
                background: #fafafa;
            }

            .proyectos-content {
                margin: 3rem 5rem 5rem 5rem;
                box-shadow: 0px 10px 40px 0px rgba(1, 1, 1, 0.1);
            }
        </style>

        <iron-ajax auto url="{{url}}" handle-as="json" last-response="{{proyectos}}"></iron-ajax>


        <h3>Proyectos</h3>
        <div class="proyectos-content">
            <template is="dom-repeat" items="{{proyectos}}">
                <div>
                    <div class="proyectoHead" data-index$="[[index]]" on-click="_toggle">
                        <span class="proyectoTitleLeft">
                            <strong>[[item.nombreProyecto]]</strong>
                        </span>
                        <span class="proyectoTitleRight"> + </span>
                    </div>
                    <iron-collapse id$="collapse-[[index]]">
                        <div class="proyectoContent">
                            <sigespai-investigador-proyecto-detalle id-proyecto="[[item.idProyecto]]"></sigespai-investigador-proyecto-detalle>
                        </div>
                    </iron-collapse>
                </div>
            </template>
        </div>
    </template>

    <script>
        /**
         * `sigespai-ficha-investigador-proyectos`
         * Muestra el listado de los proyectos
         *
         */
        class SigespaiFichaInvestigadorProyectos extends Polymer.Element {
            static get is() { return 'sigespai-ficha-investigador-proyectos'; }
            static get properties() {
                return {
                    nue: String,
                    proyectos: {
                        type: Array,
                        value: []
                    },
                    url: {
                        type: String,
                        computed: '_getURL(nue)'
                    }
                };
            }
            _toggle(e) {
                var collapseElem = this.shadowRoot.querySelector('#collapse-' + e.currentTarget.dataset.index);
                collapseElem.toggle();
            }
            _getURL(nue) {
                return 'https://intranet1.ugto.mx/Sigespai/Consultas/findProyectosByNUE/' + nue;
            }
        }

        window.customElements.define(SigespaiFichaInvestigadorProyectos.is, SigespaiFichaInvestigadorProyectos);
    </script>
</dom-module>